@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Lato:wght@300;400;700&display=swap");

:root {
  --background1: #ffffff;
  --background2: #fbfbfb;
  --primary-color: #3c57a5;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*************** appbar starts ***************/

.app-bar {
  padding: 0px 80px;
  background-color: var(--background1);
}

.app-bar button {
  background-color: var(--primary-color);
}

/*************** appbar ends ***************/

/*************** hero-section starts ***************/
.hero-section {
  background-color: var(--background2);
  position: relative;
  margin-top: 60px;
}
.hero-section div.col {
  padding: 40px 0px;
}

.hero-section .hero-text {
  margin-top: 60px;
}

.hero-section .hero-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: var(--primary-color);
}

.hero-section .hero-text h3 {
  font-family: "Dosis", sans-serif;
  max-width: 512px;
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 64px;
  margin-top: 6px;
  margin-bottom: 20px;
}

.hero-section .hero-text h6 {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.hero-section .hero-img {
  display: flex;
  justify-content: flex-end;
}

.hero-section .hero-img img {
  max-width: 528px;
}

.hero-section .hero-text button {
  padding: 8px 50px;
  background-color: var(--primary-color);
}

.hero-section img.hero-square {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  left: 70px;
}

/*************** hero-section ends ***************/
/*************** Built for cards starts ***************/
.built-for-card {
  max-width: 350px;
  padding: 100px 0px;
}
.built-for-card h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
}

.built-for-card h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 43px;
  margin-top: 10px;
}

.built-for-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  max-width: 330px;
  margin: 40px 0px;
}

.built-for-card h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  opacity: 0.3;
  color: var(--primary-color);
  text-align: center;
}
/*************** Built for cards ends ***************/
/*************** about starts ***************/

.about {
  background-color: var(--background2);
  padding: 100px 0px;
}
.about span {
  margin-right: 10px;
  position: relative;
  bottom: 10px;
}
.about h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: var(--primary-color);
}

.about h2 {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  max-width: 480px;
  margin: 30px 0px;
}

.about p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.about img {
  max-width: 500px;
  border-radius: 10px;
}
/*************** about ends ***************/
/*************** our services starts ***************/
.our-services {
  padding: 100px 0px;
}

.our-services h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.our-services p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 25px;
}
/*************** our services ends ***************/
/*************** our services card starts ***************/
.our-services-card {
  max-width: 400px;
  padding: 30px 30px;
  background: rgba(100, 149, 237, 0.05);
  border: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 60px 20px 50px 20px;
}
.our-services-card h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.our-services-card img {
  margin: 45px auto;
  display: block;
}

.our-services-card p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
/*************** our services card ends ***************/

/*************** innovation starts ***************/
.innovation h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.innovation h2 {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  max-width: 430px;
}

.innovation h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.innovation p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 20px 0px 100px 0px;
}

.innovation iframe {
  width: 575px;
  height: 320px;
  border-radius: 20px;
  margin-bottom: 60px;
}

.innovation button {
  margin: 20px 0px 60px 0px;
}
/*************** innovation ends ***************/

/*************** education blog starts ***************/
.education_blog {
  text-align: left;
  margin: 60px 0px;
  max-width: 350px !important;
}
.education_blog small {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  opacity: 0.5;
  text-align: left !important;
}

.education_blog span {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  display: block;
  margin: 10px 0px;
}

.education_blog p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  margin: 0px;
}

.education_blog .card-body {
  background-color: rgba(175, 200, 244, 0.25);
  padding: 0px 100px 0px 20px;
}

.education_blog button {
  margin: 0px;
}
/*************** education blog ends ***************/

/*************** our products starts ***************/

.our-products {
  background-color: var(--background2);
  padding: 40px 0px;
}

.our-products h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.our-products p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 200px;
  margin: 0px auto;
  margin-bottom: 100px;
}

.our-products h3 {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  max-width: 350px;
}

.our-products h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: var(--primary-color);
}

.our-products span {
  margin-right: 10px;
  position: relative;
  bottom: 10px;
}

.our-products .product-details {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 480px;
  margin: 0px;
  text-align: left;
  margin: 40px 0px;
}

.our-products .products_img {
  position: relative;
}

.our-products .products_img img {
  max-width: 700px;
}

.our-products .products_img .content-1,
.our-products .products_img .content-2 {
  position: absolute;
  background: rgba(100, 149, 237, 0.9);
  border-radius: 10px;
  padding: 40px 20px;

  color: white;
  margin: 0px;
}

.our-products .products_img .content-1 {
  top: -40px;
  right: -30px;
}

.our-products .products_img .content-1 p,
.our-products .products_img .content-2 p {
  margin: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.our-products .products_img .content-1 h5,
.our-products .products_img .content-2 h5 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  text-align: center;
}
.our-products .products_img .content-2 {
  bottom: -40px;
  right: -30px;
}

/*************** our products ends ***************/

/*************** business starts ***************/

.business {
  margin: 60px 0px;
}
.business h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  max-width: 220px;
  display: block;
  margin: 60px auto;
}

.business .left {
  border-right: 3px solid #afc8f4;
  position: relative;
}

.business .left::before {
  content: "";
  height: 300px;
  border-right: 3px solid #afc8f4;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.business .left::after {
  content: "";
  height: 300px;
  border-right: 3px solid #afc8f4;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.business .left img {
  margin: 0 auto;
  max-width: 300px;
  display: block;
}

.business .right img {
  margin: 0 auto;
  max-width: 300px;
  display: block;
}
/*************** business ends ***************/

/*************** testimonial starts ***************/
.testimonial {
  position: relative;
  margin: 200px 0px;
}

.testimonial h2 {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.testimonial p {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 100px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.testimonial .slick-track {
  height: 400px !important;
}

.testimonial .slick-slide .testimonial-card h6 {
  color: black !important;
}
.testimonial .slick-current {
  position: relative;
  bottom: 50px;
}
.testimonial .slick-current .testimonial-card {
  background-color: rgba(100, 149, 237, 0.7);
}
.testimonial .slick-current .testimonial-card h6 {
  color: white !important;
}

/*************** testimonial ends ***************/

/*************** testimonial-card starts ***************/
.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 60px 20px;
  position: relative;
}

.testimonial-card .user {
  position: absolute;
  bottom: -50%;
  color: black;
}

.testimonial-card .user p {
  margin: 0px;
}

.testimonial-card .user img {
  margin: 0 auto;
}
/*************** testimonial-card ends ***************/

/*************** team starts ***************/
.team .slick-track {
  padding: 10px;
}

.team h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-transform: capitalize;
  text-align: center;
  margin-top: 92px;
  margin-bottom: 20px;
}

.team p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}

/*************** team ends ***************/

/*************** team-card starts ***************/
.team-card .card {
  box-shadow: 0px 4px 15px rgba(100, 149, 237, 0.3);
  border-radius: 20px;
}

.team-card {
  display: block;
  margin: 0 auto;
}

.team-card p {
  margin: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

/*************** team-card ends ***************/

/*************** news starts ***************/
.news {
  background: var(--background2);
  padding: 50px 0px;
}

.news h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-transform: capitalize;
  text-align: center;
}

.news p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
  text-align: center;
}

/*************** news ends ***************/

/*************** contact starts ***************/
.contact .contact-form {
  max-width: 900px;
  background: rgba(100, 149, 237, 0.05);
  border-radius: 20px;
  padding: 50px 150px;
  display: block;
  margin: 0 auto;
}

.contact .contact-form button {
  display: block;
  margin: 0 auto;
  padding: 10px 70px;
  background: var(--primary-color);
}

.contact h2 {
  text-align: center;
  margin-bottom: 80px;
}

.contact {
  padding: 70px 0px;
}

/*************** contact ends ***************/

/*************** footer starts ***************/
.footer .subscribe {
  max-width: 450px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.footer .subscribe input {
  margin-right: 20px;
}

/*************** footer ends ***************/
